<!DOCTYPE html>
html(lang=LANG.locale)
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/main.css")
    title Document
  body
    canvas#body-viewer(width='500' height='700')
    canvas#body-viewer2(width='500' height='700')
    script(src="js/main.js")
